<?xml version="1.0" encoding="UTF-8"?>
<!--
 * AWSP UPS Module for CubeCart v6
 * ========================================
 * @author Brian Sandall
 * @copyright (c) 2016 Brian Sandall
 * @license GPL-3.0 http://opensource.org/licenses/GPL-3.0
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
-->
<installer version="1.0">
  <info>
	<uid>shipping-Awsp_UPS@cubecart.com</uid>
	<type>shipping</type>
	<name><![CDATA[UPS]]></name>
	<description><![CDATA[(Awsp) UPS Shipping Module]]></description>
	<version>1.1.0</version>
	<minVersion>6.0.8</minVersion>
	<maxVersion>6.*</maxVersion>
	<creator><![CDATA[BrianSandall]]></creator>
	<homepage><![CDATA[https://bitbucket.org/briansandall/awsp-ship]]></homepage>
	<block>false</block>
  </info>
</installer>